
<table class="tx-spiribox" >
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.username" />
		</td>
		<td>
		{quote.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.userlastname" />
		</td>
		<td>
		{quote.userlastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.ort" />
		</td>
		<td>
		{quote.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.verband" />
		</td>
		<td>
		{quote.verband}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.text" />
		</td>
		<td>
		{quote.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.bibelstelle" />
		</td>
		<td>
		{quote.bibelstelle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.user_alter" />
		</td>
		<td>
		{quote.userAlter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.email" />
		</td>
		<td>
		{quote.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.kategorie" />
		</td>
		<td>
		{quote.kategorie}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_spiribox_domain_model_quote.use_uploaded_file" />
		</td>
		<td>
			<f:image src="{quote.useUploadedFile}" width="200"/>
		</td>
	</tr>
</table>